
.groupPermissions .custom_select_all  {
    font-weight: 700;
}

.groupPermissionsGroupAddUserWrapper .select-wrapper {

    margin-bottom: 20px;
    
    input.select-dropdown {
        display: none;
    }
}
